*{
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
    margin: 30px;
}

.container{
/* margin: 5px; */
width: 100%;
}
.bb{
    background-color: grey;
    border:2px solid black;}
.c{
    padding: 8px;
    
}
.ch{position: relative;
    float: right;
    font-weight: bold;
    background-color: pink;
    border: 1px solid black;

}
.cb{position: relative;
    float: right;
    font-weight: bold;
    background-color: rgb(223, 63, 89);
    border: 2px solid black;

}
.cs{position: relative;
    float: right;
    font-weight: bold;
    background-color: rgb(219, 238, 133);
    border: 1px solid black;

}
.cp{
    clear: right;
    padding: 10px;
}

@media(min-width: 992px){
    .col-lg-4{
        float: left;
       
    }
    .col-lg-4{width: 33.33%;}
}
@media(min-width: 768px) and (max-width:991px){
    .col-lg-6 {
        float: left;
       
    }
    .col-lg-6{width: 50%;}
    
}
@media(min-width: 768px) and (max-width:991px){
    .col-lg-12 {
        float: left;
       
    }
    .col-lg-12{width: 100%;}
    
}
